<form action="" method="post">
    <div class="card">
        <h4 class="card-header">
            New Categories
        </h4>
        <div class="card-body">
            <div class="form-group">
            <label for="txtCartName">Category name</label>
            <input type="text" name="CatName" id="txtCartName" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Help text</small>
            </div>
        </div>
        <div class="card-footer">
            <a name="" id="" class="btn btn-outline-success" href="/admin/categories" role="button">
                <i class="bi bi-skip-backward-fill"></i>
            </a>
            <button type="submit" class="btn btn-primary" >
                <i class="bi bi-check2"></i>
                save
            </button>
        </div>
    </div>

    
</form>